extends ../layout

block content
  .container
    h1.
      Dashboard
    br 
    h3.
     Recommended Projects
    table.table.project-list.table-striped.table-bordered.table-hover
      thead
        tr
          th.
            Name
          th.
            Description
          th.
            Tags
      - each project, i in projects
        tr
          td
            a(href='/projects/#{project._id}')= project.name
          td
            a(href='/projects/#{project._id}')= project.description
          td
            a(href='/projects/#{project._id}')= project.tags
    h3.
      Recommended Users
    table.table.user-list.table-striped.table-bordered.table-hover
      thead
        tr
          th.
            Avatar
          th.
            Name
          th.
            Email
      - each user, i in users
        tr
          td
            a(href='/users/#{user._id}')
              img.responsive.img-circle.logo-small.blowing-blue(src="/avatars/#{user.avatar}")
          td
            a(href='/users/#{user._id}')= user.name
          td
            a(href='/users/#{user._id}')= user.email
        
