extends ../layout

block content
  .row
    .col-sm-3.profile-left
      a(href='/users/#{user._id}/edit')
        img.responsive#user-picture(src="/avatars/#{user.avatar}")
    .col-sm-9.profile-right

      h3.
        #{user.name}
      p
        |#{user.interests}
      dl.dl-horizontal
        dt Email
        dd #{user.email} 
      